

<div style="display:none;" class="modal fade" id="MarkOrderDialog" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="with: markOrderExported">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mark Orders as Exported/Unexported</h4>
            </div>
            <form role="form" class="form" method="post">
                <div class="modal-body">
                    <div>
                        <div class="alertMsgStatus" data-bind="visible: $root.message(), alert: { message: $root.message, type: $root.type, template: 'alertTemplate' }"></div>

                        <div class="form-group">
                            <label for="Marketplaces">Mark Orders as</label>
                            <div class="form-group">
                                <label>
                                    <input type="radio" name="markOrderExportedMode" value="true" checked data-bind="click: toggleExportMarking" />
                                    &nbsp;Exported
                                </label>
                                &nbsp;&nbsp;&nbsp;
                                <label>
                                    <input type="radio" name="markOrderExportedMode" class="marketplaceModes" value="false" data-bind="click: toggleExportMarking" />
                                    &nbsp;UnExported
                                </label>
                                <input name="IsExported" type="hidden" data-bind="value: IsExported" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                    <button id="btnSubmitFeed" type="button" class="btn btn-warning" data-bind="click: submitMarkingOrders, enable: hasSelected()">Mark Orders</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->