@model EIS.Inventory.Core.Models.MarketplaceProduct

<div class="row">
    <div id="" class="col-md-12">
        <div class="box box-info">
            <div class="box-header">
                <h3 class="box-title">Buy.com Product Details</h3>
            </div>

            <div class="box-body">
                <p>Contents goes here</p>
            </div>

            <div class="box-footer">

            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/scripts/plugins/icheck/icheck.min.js")" type="text/javascript"></script>