

<div style="display:none;" class="modal fade" id="eBayCategoryDialog" role="dialog" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" data-bind="with: eBayCategoryModel">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Select eBay Category</h4>
            </div>

            <div class="modal-body" id="edit-form">
                <div id="loadingModal" class="loading-gif "></div>
                <div data-bind="visible: $root.message(), alert: { message: $root.message, type: $root.type, template: 'alertTemplate' }"></div>

                <div class="form-group">
                    <label class="control-label" for="eBayKeyword">Enter keyword/UPC to get categories suggestions</label>
                    <div class="form-horizontal">
                        <div class="form-group no-margin">
                            <div class="col-md-9" style="padding-left:0;">
                                <input class="form-control" id="eBayKeyword" name="eBayKeyword" placeholder="Enter keyword/UPC" data-bind="value: keyword" />
                            </div>
                            <a class="btn btn-info col-md-3" href="#findcategories" data-bind="click: findCategoryClicked">Find Categories</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="SuggestedeBayCategory">Suggested Categories:</label>
                    <select class="form-control" id="SuggestedeBayCategory" name="SuggestedeBayCategory" data-bind="options: categories, optionsText: 'OptionName', optionsValue: 'Id', value: selectedCategory"></select>
                </div>

            </div>
            <div class="modal-footer">
                <span class="spinner"><i class="fa fa-refresh fa-spin"></i></span>
                <button id="btnSelecteBayCategory" type="button" class="btn btn-primary" data-bind="click: useSelectedCategoryClicked" data-dismiss="modal">Use Selected Category</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
