
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="min-height: 1065px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            401.4 NOT AUTHORIZED
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">401.4 Unauthorized</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-yellow"> 401</h2>
            <div class="error-content">
                <h3><i class="fa fa-warning text-yellow"></i> Oops! Not Authorized</h3>
                <p>
                    You are not authorised to view this page.
                </p>
                <p>
                    Need help? 
                    If you are having trouble please contact <a href="mailto:mikepvcom@gmail.com?Subject=EIS%20System:%20Request%20for%20Access" target="_top">Mike Gerts</a>.
                </p>
            </div><!-- /.error-content -->
        </div><!-- /.error-page -->
    </section><!-- /.content -->
</div>
