@{
    ViewBag.Title = "Change Password Success";
    ViewBag.ActiveMenu = "users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper" style="min-height: 657px;">
    <section class="content-header">
        <h1>Change Password Success <small>Success</small></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                    </div>
                    <div class="box-body">
                        <h3 class="text-green">Password has been successfully changed!</h3>
                    </div>
                    <div class="box-footer"></div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    <script type="text/javascript">
        var USERS_LIST_URL = "@ViewBag.RedirectUrl";

        $(document).ready(function () {
            setTimeout("window.location.href = USERS_LIST_URL;", 2000);
        });
</script>
}