@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="content-wrapper" style="min-height: 657px;">
    <section class="content-header">
        <h1>@ViewBag.Title.</h1>
    </section>
    <section class="content">
        <div>
            <p>
                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </section>
</div>