
<!-- son -->
<script type="text/html" id="Amazon">

    <div class="col-md-12">
        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-3" for="IsEnabled">Is Enabled</label>
                <div class="col-md-8">
                    <div class="checkbox">
                        <input id="IsEnabled" name="IsEnabled" type="checkbox" data-bind="iCheckBox: IsEnabled" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="IsDefault">Is Default</label>
                <div class="col-md-8">
                    <div class="checkbox">
                        <input id="IsDefault" name="IsDefault" type="checkbox" data-bind="iCheckBox: IsDefault" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="MarketplaceType">Marketplace Type</label>
                <div class="col-md-8">
                    <input class="form-control text-box" id="MarketplaceType" name="MarketplaceType" data-bind="value: MarketplaceType, event: { change: valueChanged }" required="required" readonly="readonly" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3" for="Mode">Mode</label>
                <div class="col-md-8">
                    <select class="form-control" id="Mode" name="Mode" data-bind="options: $parent.modes, optionsText: 'Name', optionsValue: 'Id', value: Mode, event: { change: valueChanged }" required="required"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="Name">Name</label>
                <div class="col-md-8">
                    <input id="Name" name="Name" class="form-control text-box single-line" data-bind="value: Name, event: { change: valueChanged }" placeholder="Enter credential name" required="required" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="MarketplaceId">Marketplace</label>
                <div class="col-md-8">
                    <select class="form-control" id="MarketplaceId" name="MarketplaceId" data-bind="options: marketplaces, optionsText: 'Name', optionsValue: 'Id', value: MarketplaceId, event: { change: marketplaceValueChanged }" required="required"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="CompanyId">Company</label>
                <div class="col-md-8">
                    <select class="form-control" id="CompanyId" name="CompanyId" data-bind="options: $parent.companies, optionsText: 'Name', optionsValue: 'Id', value: CompanyId, event: { change: valueChanged }" required="required"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="ServiceEndPoint">Service End Point</label>
                <div class="col-md-8">
                    <input class="form-control text-box" id="ServiceEndPoint" name="ServiceEndPoint" data-bind="value: ServiceEndPoint, event: { change: valueChanged }" required="required" />
                </div>
            </div>

        </div>
    </div><!-- /. col-md-12 -->

    <div class="clearfix"></div>

    <div class="col-md-6">
        <div class="form-horizontal">
            <h5>MWS API Credential</h5>
            <div class="form-group">
                <label class="control-label col-md-3" for="MerchantId">Merchant ID</label>
                <div class="col-md-8">
                    <input id="MerchantId" name="MerchantId" class="form-control" data-bind="value: MerchantId, event: { change: valueChanged }" placeholder="Enter merchant id" required="required" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="AccessKeyId">Access Key ID</label>
                <div class="col-md-8">
                    <input id="AccessKeyId" name="AccessKeyId" class="form-control" data-bind="value: AccessKeyId, event: { change: valueChanged }" placeholder="Enter access key" required="required" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="SecretKey">Secret Key</label>
                <div class="col-md-8">
                    <input id="SecretKey" name="SecretKey" class="form-control" data-bind="value: SecretKey, event: { change: valueChanged }" placeholder="Enter secret key" required="required" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-horizontal">
            <h5>Product API Search Credential</h5>
            <div class="form-group">
                <label class="control-label col-md-3" for="AssociateId">Search AssociateKey</label>
                <div class="col-md-8">
                    <input id="AssociateId" name="AssociateId" class="form-control" data-bind="value: AssociateId, event: { change: valueChanged }" placeholder="Enter associate id" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="SearchAccessKeyId">Search AccessKey</label>
                <div class="col-md-8">
                    <input id="SearchAccessKeyId" name="SearchAccessKeyId" class="form-control" data-bind="value: SearchAccessKeyId, event: { change: valueChanged }" placeholder="Enter search access key" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3" for="SearchSecretKey">Search SecretKey</label>
                <div class="col-md-8">
                    <input id="SearchSecretKey" name="SearchSecretKey" class="form-control" data-bind="value: SearchSecretKey, event: { change: valueChanged }" placeholder="Enter search secret key" />
                </div>
            </div>
        </div>
    </div>

</script>