
<div style="display:none;" class="modal fade" id="SelectCredentialDialog" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Credential Type</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="MarketplaceType">Choose Type</label>
                            <div class="col-md-8">
                                <select class="form-control" id="MarketplaceType" name="MarketplaceType" data-bind="options: marketplaceTypes, optionsText: 'Name', optionsValue: 'Id', value: selectedMarketplaceType" required="required"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#CredentialDialog" data-title="Add New Credential" data-id="-1">Choose</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /#SelectTaskDialog -->