
<script type="text/html" id="GeneratePO">
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4" for="Enabled">Enabled</label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <input id="Enabled" name="Enabled" type="checkbox" data-bind="iCheckBox: IsEnabled" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="MarkPoGenerated">Mark Order</label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <input id="MarkPoGenerated" name="MarkPoGenerated" type="checkbox" data-bind="iCheckBox: MarkPoGenerated" />
                            <small class="text-muted">&nbsp;Mark Orders as "PO Generated".</small>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="TaskName">Task Name</label>
                    <div class="col-md-8">
                        <input id="TaskName" name="TaskName" class="form-control text-box single-line" data-bind="value: Name, event: { change: valueChanged }" placeholder="Enter task name" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="StartDate">Start Date Time</label>
                    <div class="col-md-4" style="padding-right:0px">
                        <div class="input-group bootstrap-timepicker">
                            <input class="form-control text-box" id="StartDate" name="StartDate" data-bind="datepicker: StartDate, datepickerOptions: { 'format': 'M dd yyyy', autoclose: true }" />
                            <label class="input-group-addon" for="StartDate">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group bootstrap-timepicker">
                            <input type="text" class="form-control timepicker" id="StartTimeDate" name="StartTimeDate" data-bind="timeValue: StartTimeDate" data-minute-step="1" />
                            <label class="input-group-addon" for="StartTimeDate">
                                <i class="fa fa-clock-o"></i>
                            </label>
                        </div><!-- /.input group -->
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="VendorId">Vendor</label>
                    <div class="col-md-8">
                        <select class="form-control" id="VendorId" name="VendorId" data-bind="options: $parent.vendors, optionsText: 'Name', optionsValue: 'Id', optionsCaption: ' -- choose --', value: VendorId, event: { change: vendorChanged }" required="required"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="FileName">File Name</label>
                    <div class="col-md-8">
                        <input class="form-control text-box" id="FileName" name="FileName" data-bind="value: FileName, event: { change: valueChanged }" placeholder="{0:MM}-{0:dd}-{0:yyyy}-{0:HH}-{0:mm}" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="FileType">File Type</label>
                    <div class="col-md-8">
                        <select class="form-control text-box" id="FileType" name="FileType" data-bind="options: $parent.fileTypes, optionsCaption: '-- choose --', value: FileType, event: { change: valueChanged }" required="required"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="ExportTo">Send PO via</label>
                    <div class="col-md-4" style="padding-right:0;">
                        <select class="form-control" id="ExportTo" name="ExportTo" data-bind="options: $parent.exportToOptions, value: ExportTo" required="required"></select>
                    </div>
                    <div class="col-md-4" data-bind="visible: isFtpDetailsVisible()">
                        <a class="btn btn-sm btn-success" data-bind="click:$parent.checkFtpConnection" href="#checkftpconnection"><i class="fa fa-sign-in"></i> Check FTP</a>
                    </div>
                </div>

            </div>
        </div><!-- /. col-md-6 -->
        <div class="col-md-6">

            <div class="form-group">
                <label>Select recurrence</label>
                <div data-bind="foreach: recurrences" class="checkbox">
                    <label style="width:30%; z-index:1001" data-bind="click: $parent.toggleRecurrence">
                        <input type="radio" name="RecurrenceRadio" data-bind="iRadio: IsChecked, value: Id, enableTrigger: true" />
                        <span data-bind="text: Name" style="margin-left: 5px"></span>
                    </label>
                </div>
                <div data-bind="template: recurrenceTemplate"></div>
            </div>

            <div class="form-horizontal">

                <div style="display:none;" data-bind="visible: isFtpDetailsVisible()">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="FtpServer">FTP Server</label>
                        <div class="col-md-9">
                            <input class="form-control text-box" id="FtpServer" name="FtpServer" data-bind="value: FtpServer, event: { change: valueChanged }" placeholder="Enter FTP server" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="FtpUser">User</label>
                        <div class="col-md-9">
                            <input class="form-control text-box" id="FtpUser" name="FtpUser" data-bind="value: FtpUser, event: { change: valueChanged }" placeholder="Enter FTP user" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="FtpPassword">Password</label>
                        <div class="col-md-9">
                            <input class="form-control text-box" id="FtpPassword" name="FtpPassword" data-bind="value: FtpPassword, event: { change: valueChanged }" placeholder="Enter FTP password" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="FtpPort">Port</label>
                        <div class="col-md-9">
                            <input type="number" class="form-control text-box" id="FtpPort" name="FtpPort" data-bind="value: FtpPort" placeholder="Enter FTP port" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="RemoteFolder">Folder</label>
                        <div class="col-md-9">
                            <input class="form-control text-box" id="RemoteFolder" name="RemoteFolder" data-bind="value: RemoteFolder" placeholder="Enter remote folder path" />
                        </div>
                    </div>
                </div>

                <div style="display:none;" data-bind="visible: isEmailFieldsVisible()">
                    <div class="form-group">
                        <label class="control-label col-md-3" for="EmailSubject">Subject</label>
                        <div class="col-md-9">
                            <input class="form-control text-box" id="EmailSubject" name="EmailSubject" data-bind="value: EmailSubject" placeholder="Enter email's subject'" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="EmailTo">Email To</label>
                        <div class="col-md-9">
                            <input class="form-control text-box" id="EmailTo" name="EmailTo" data-bind="value: EmailTo" placeholder="To recipient (comma seperated)" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3" for="EmailCc">Email CC</label>
                        <div class="col-md-9">
                            <input class="form-control text-box" id="EmailCc" name="EmailCc" data-bind="value: EmailCc" placeholder="CC recipient (comma seperated)" />
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /. col-md-6 -->
    </div>
</script>
