
<script type="text/html" id="MarketplaceInventory">
    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4" for="Enabled">Enabled</label>
                    <div class="col-md-8">
                        <div class="checkbox">
                            <input id="Enabled" name="Enabled" type="checkbox" data-bind="iCheckBox: IsEnabled" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="TaskName">Task Name</label>
                    <div class="col-md-8">
                        <input id="TaskName" name="TaskName" class="form-control text-box single-line" data-bind="value: Name, event: { change: valueChanged }" placeholder="Enter task name" required="required" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="StartDate">Start Date Time</label>
                    <div class="col-md-4" style="padding-right:0px">
                        <div class="input-group bootstrap-timepicker">
                            <input class="form-control text-box" id="StartDate" name="StartDate" data-bind="datepicker: StartDate, datepickerOptions: { 'format': 'M dd yyyy', autoclose: true }" />
                            <label class="input-group-addon" for="StartDate">
                                <i class="fa fa-calendar"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group bootstrap-timepicker">
                            <input type="text" class="form-control timepicker" id="StartTimeDate" name="StartTimeDate" data-bind="timeValue: StartTimeDate" data-minute-step="1" />
                            <label class="input-group-addon" for="StartTimeDate">
                                <i class="fa fa-clock-o"></i>
                            </label>
                        </div><!-- /.input group -->
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4" for="CompanyId">Company</label>
                    <div class="col-md-8">
                        <select class="form-control" id="CompanyId" name="CompanyId" data-bind="options: $parent.companies, optionsText: 'Name', optionsValue: 'Id', optionsCaption: '-- select --', value: CompanyId, event: { change: valueChanged }" required="required"></select>
                    </div>
                </div>


            </div>
        </div><!-- /. col-md-6 -->
        <div class="col-md-6">

            <div class="form-group">
                <label>Select recurrence</label>
                <div data-bind="foreach: recurrences" class="checkbox">
                    <label style="width:30%; z-index:1001" data-bind="click: $parent.toggleRecurrence">
                        <input type="radio" name="RecurrenceRadio" data-bind="iRadio: IsChecked, value: Id, enableTrigger: true" />
                        <span data-bind="text: Name" style="margin-left: 5px"></span>
                    </label>
                </div>
                <div data-bind="template: recurrenceTemplate"></div>
            </div>

        </div><!-- /. col-md-6 -->

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group margin">
                <label>Select Marketplaces</label>
                <div id="order-fields" class="form-control" style="position:relative; min-height:50px !important;" data-bind="attr: {'data-value': Marketplaces}, foreach: itemFields" required="required">
                    <div class="checkbox no-margin" style="float:left; width:25%; margin-top:12px;">
                        <label class="no-padding" data-bind="click: $parent.toggleField">
                            <input type="checkbox" data-bind="iCheckBox: IsChecked, value: Id" />
                            <span data-bind="text: Name" style="margin-left: 5px"></span>
                        </label>
                    </div>
                    <div data-bind="css: { 'clear' : $index() == ($parent.itemFields().length - 1)}"></div>
                </div>
            </div>
        </div>
    </div>
</script>
