<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="EisInventoryContext" connectionString="metadata=res://*/Database.EisInventory.csdl|res://*/Database.EisInventory.ssdl|res://*/Database.EisInventory.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;port=3306;user id=kigwa;password=who15are15you15;database=eshopo_inventory&quot;" providerName="System.Data.EntityClient" />
    <add name="InventoryConnection" connectionString="server=localhost;port=3306;User Id=kigwa;password=who15are15you15;database=eshopo_inventory" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <!--in seconds-->
    <add key="SleepTime" value="1" />
    <add key="MarketplaceMode" value="TEST" />
    <add key="ExportedFilesRoot" value="c:\logs\exportedfiles" />
    <add key="SupplierFilesRoot" value="c:\logs\supplier files" />
    <add key="SupplierFilesUploadedRoot" value="c:\logs\supplier files\uploaded" />
    <add key="ImagesRoot" value="D:\dev\kigwa\EShopo System\EIS.Inventory\EIS.Inventory\Images" />
    <add key="MarketplaceFeedRoot" value="C:\\Logs\\ExportedFiles\\Feeds" />
    <add key="ServiceLogPath" value="c:\\logs\\service_logs" />
    <add key="EmailFrom" value="bigsavingzpo@gmail.com" />
    <add key="EmailBcc" value="egenita@outlook.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ReportsPath" value="d:\\logs\\reports" />
    <add key="MerchantId" value="A12HYFEDED6DEW" />
    <add key="AccessKeyId" value="AKIAJDQNAJIEJ2XZWVQA" />
    <add key="SecretAccessKey" value="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" />
    <!-- eBay access settings for egenita-->
    <add key="AppId" value="EduardoG-EshopoIn-PRD-599ea60aa-c2cbb9de" />
    <add key="DevId" value="dbaf9078-5dbd-4ecf-ad69-096b7279bcb7" />
    <add key="CertId" value="PRD-99ea60aa7e3f-83d3-4918-9467-6800" />
    <add key="UserToken" value="AgAAAA**AQAAAA**aAAAAA**45eAVw**nY+sHZ2PrBmdj6wVnY+sEZ2PrA2dj6AAmYSmAJOBqASdj6x9nY+seQ**n1oDAA**AAMAAA**7jhxghkv0QIWjoZ5Dg7LBFCjaBFhDv3bgo3Whl4WhjMY1wR4U6ZkTdSZUHNt7kGLm11DBgapHdusFNU24solDSdycBmmkHxm0Ev+6u/pYonotJv6dYzgS9Cuok4HazBppcjOahvgUBe7XisDtIWr2OisVqBLttmNnYl/4lgNA6MtW/aGIANUPWJiS89GyU8AYGF0K3tAMVhx56GbSXMEZLaRuxlfAJc9YChokRc7Dc62HWAuVJ+YhukO+qwnNVQXK8go/0AZOFerJCAHLplfDaVofQuee0JDIn8CWvLXl2A8FRe+vzFjhDrVaYAMkvJ63/2p2QC4xqbj9OHkD83/xAeu5bRZ6hyiJVKDFxYrt4ohhXJfBum9GrX2DM+eIMJaTvp/2Us///5VSeTGFPl2u2ZYh96gqwkV0Pf+Jfkgg9jxQxCb66F+ZKSLkwFO2vPHP8fQX3eg2BnA02m+xwvh8UuJEsbpsonmoFA7KXhy9L0pNBUOEEdIkYmRvzhbwexFjb9Gwv+j2KOosKUHxyhQZBElsaJkutrS+7lFPH07arfnPA1KrFey7ZHDakJMkY3oso2NLowXXYrfDfzkqUpWUNEobOdnH30WMkbJNdud5E7gb9COKuCxp6SbVMtM8uz+bwcL4xplFWrnytOgoDgFXNMN/ayVnwvXCgXUeoonIBez6FBmkvWb6zXk2zl0ghuW5so0FJA0k6OJFL55jajD5WA1bJlu9pXDNfdh8B9CwDJjVqb2GYYjETERQHXdwGh8" />    
    <add key="ImagesUrlRoot" value="http://e-shopo.com/Images" />
    <add key="IsWriteToFile" value="true" />
    <!-- Endicia Shipping Service Settings-->
    <add key="Endicia.Mode" value="TEST" />
    <add key="Endicia.RequesterId" value="lxxx" />
    <add key="Endicia.AccountId" value="2527126" />
    <add key="Endicia.PassPhrase" value="Denden.Mushi" />
    <!-- FedEx Shipping Service Settings-->
    <add key="FedEx.Mode" value="TEST" />
    <add key="FedEx.Key" value="E3UuJjVs7BDqcCi0" />
    <add key="FedEx.Password" value="Zd4qb3bWxKLiXq8QZ4FABQcUo" />
    <add key="FedEx.AccountNumber" value="510087720" />
    <add key="FedEx.MeterNumber" value="118789010" />
    <!-- Email Service Settings-->
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="EmailServiceUser" value="eshoposervice@gmail.com" />
    <add key="EmailServicePass" value="eshoposervice123" />
    <add key="EmailServiceTo" value="rosal.alvincent@gmail.com" />
    <add key="EmailServiceCC" value="rosal.alvincent@gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="bigsavingzpo@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="bigsavingzpo@gmail.com" password="K1gw@desuka." defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Netco" publicKeyToken="9d732c15ac2ec2c9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.0" newVersion="1.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.30.0" newVersion="4.5.30.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>
