<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--<connectionStrings>
    <add name="InventoryConnection" connectionString="server=eshopo-database.cq4fzntkpwoy.us-west-2.rds.amazonaws.com;port=3306;User Id=kigwa;password=who15are15you15;database=eshopo_inventory" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="EisInventoryContext" connectionString="metadata=res://*/Database.EisInventory.csdl|res://*/Database.EisInventory.ssdl|res://*/Database.EisInventory.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=eshopo-database.cq4fzntkpwoy.us-west-2.rds.amazonaws.com;port=3306;user id=kigwa;password=who15are15you15;database=eshopo_inventory&quot;"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>-->
  <appSettings>
    <!--in seconds-->
    <add key="MarketplaceMode" value="LIVE" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AppName" value="EIS Scheduler Service" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="TemplatesRoot" value="c:\templates" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ExportedFilesRoot" value="c:\logs\exportedfiles" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SupplierFilesRoot" value="C:\logs\supplier files" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SupplierFilesUploadedRoot" value="C:\logs\supplier files\uploaded" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MarketplaceFeedRoot" value="C:\\Logs\\ExportedFiles\\Feeds" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="EmailFrom" value="bigsavingzpo@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="IsWriteToFile" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImagesRoot" value="C:\inetpub\wwwroot\EIS Inventory\Images" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImagesUrlRoot" value="http://e-shopo.com/Images" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>