<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="InventoryConnection" connectionString="server=localhost;port=3306;User Id=kigwa;password=who15are15you15;database=eshopo_inventory" providerName="MySql.Data.MySqlClient" />
    <add name="EisInventoryContext" connectionString="metadata=res://*/Database.EisInventory.csdl|res://*/Database.EisInventory.ssdl|res://*/Database.EisInventory.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;port=3306;user id=kigwa;password=who15are15you15;database=eshopo_inventory&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--in seconds-->
    <add key="AppName" value="DEV EIS Scheduler Service" />
    <add key="SleepTime" value="1" />
    <add key="MarketplaceMode" value="TEST" />
    <add key="TemplatesRoot" value="C:\dev\kigwa\EShopo System\EIS.Inventory\EIS.Consoles\EIS.SchedulerTaskApp\Templates" />
    <add key="ExportedFilesRoot" value="C:\logs\exportedfiles" />
    <add key="SupplierFilesRoot" value="C:\logs\supplier files" />
    <add key="SupplierFilesUploadedRoot" value="C:\logs\supplier files\uploaded" />
    <add key="MarketplaceFeedRoot" value="C:\\Logs\\ExportedFiles\\Feeds" />
    <add key="EmailFrom" value="bigsavingzpo@gmail.com" />
    <add key="EmailBcc" value="egenita@outlook.com" />
    <add key="IsWriteToFile" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ImagesRoot" value="C:\inetpub\wwwroot\EIS Inventory\Images" />
    <add key="ImagesUrlRoot" value="http://e-shopo.com/Images" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="bigsavingzpo@gmail.com">
        <network enableSsl="true" host="smtp.gmail.com" port="587" userName="bigsavingzpo@gmail.com" password="K1gw@desuka." defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>
