<table style='font-family: Arial;' width='800'>
    <tbody>
        <tr>
            <td width='550'>
                <img src='http://54.218.56.53//Content/img/eis.png' />
            </td>
            <td width='250'>
                <p><strong>Date: {0: MMM dd yyyy}</strong></p>
            </td>
        </tr>
        <tr><td colspan='2'>&nbsp;</td></tr>
        <tr>
            <td colspan='2'>
                <p><strong>Dear Sir/Madam,</strong></p><br>
                {1}
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <br><p>
                    Yours sincerely,<br>
                    <i>EIS System</i><br>
                    EIS Scheduler Task System<br>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan='2'> </td>
        </tr>
    </tbody>
</table>