<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EIS.Marketplace.Amazon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <EIS.Marketplace.Amazon.Properties.Settings>
      <setting name="AwsSellerId" serializeAs="String">
        <value>A12HYFEDED6DEW</value>
      </setting>
      <setting name="AwsMarketplaceId" serializeAs="String">
        <value>ATVPDKIKX0DER</value>
      </setting>
      <setting name="AwsAccessKeyId" serializeAs="String">
        <value>AKIAJDQNAJIEJ2XZWVQA</value>
      </setting>
      <setting name="AwsSecretKey" serializeAs="String">
        <value>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</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>EIS Inventory System</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>3.0</value>
      </setting>
    </EIS.Marketplace.Amazon.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AWSECommerceServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding2">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding3">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding4">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding5">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding6">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding7">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding8">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding9">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding10">
          <security mode="Transport" />
        </binding>
        <binding name="AWSECommerceServiceBinding11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePort" />
      <endpoint address="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding1" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortCA" />
      <endpoint address="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding2" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortCN" />
      <endpoint address="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding3" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortDE" />
      <endpoint address="https://webservices.amazon.es/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding4" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortES" />
      <endpoint address="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding5" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortFR" />
      <endpoint address="https://webservices.amazon.in/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding6" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortIN" />
      <endpoint address="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding7" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortIT" />
      <endpoint address="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding8" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortJP" />
      <endpoint address="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding9" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortUK" />
      <endpoint address="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" binding="basicHttpBinding" bindingConfiguration="AWSECommerceServiceBinding10" contract="AmazonService.AWSECommerceServicePortType" name="AWSECommerceServicePortUS" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
