@{
    ViewBag.Title = "About";
}
<div class="content-wrapper" style="min-height:349px;">
    <section class="content-header">
        <h1>@ViewBag.Title. <small>@ViewBag.Message</small></h1>
    </section>
    <section class="content">
        <p>Use this area to provide additional information.</p>
    </section>
</div>
