<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EIS.OrdersServiceApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <connectionStrings>
    <add name="InventoryConnection" connectionString="server=localhost;port=3306;User Id=kigwa;password=who15are15you15;database=eshopo_inventory" providerName="MySql.Data.MySqlClient" />
    <add name="EisInventoryContext" connectionString="metadata=res://*/Database.EisInventory.csdl|res://*/Database.EisInventory.ssdl|res://*/Database.EisInventory.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;port=3306;user id=kigwa;password=who15are15you15;database=eshopo_inventory&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--in seconds-->
    <add key="AppName" value="EIS Orders Service" />
    <add key="MarketplaceMode" value="TEST" />
    <add key="MarketplaceFeedRoot" value="C:\\Logs\\ExportedFiles\\Feeds" />
    <add key="ExportedFilesRoot" value="C:\logs\exportedfiles" />
    <add key="ServiceLogPath" value="D:\\logs\\service_logs" />
    <add key="ImagesRoot" value="C:\\logs\Images" />
    <add key="ImagesUrlRoot" value="C:/logs/Images" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="EmailServiceUser" value="eshoposervice@gmail.com" />
    <add key="EmailServicePass" value="eshoposervice123" />
    <add key="EmailServiceTo" value="mikepvcom@gmail.com" />
    <add key="EmailServiceCC" value="rosal.alvincent@gmail.com" />
  </appSettings>
  <applicationSettings>
    <EIS.OrdersServiceApp.Properties.Settings>
      <setting name="AwsSellerId" serializeAs="String">
        <value>A12HYFEDED6DEW</value>
      </setting>
      <setting name="AwsMarketplaceId" serializeAs="String">
        <value>ATVPDKIKX0DER</value>
      </setting>
      <setting name="AwsAccessKeyId" serializeAs="String">
        <value>AKIAJDQNAJIEJ2XZWVQA</value>
      </setting>
      <setting name="AwsSecretKey" serializeAs="String">
        <value>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</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>EIS Orders Service</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>2.0</value>
      </setting>
    </EIS.OrdersServiceApp.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.9.0" newVersion="6.9.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
