<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
  <add name="InventoryConnection" connectionString="server=eshopo-database.cq4fzntkpwoy.us-west-2.rds.amazonaws.com;port=3306;User Id=kigwa;password=who15are15you15;database=eshopo_inventory_dev" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  <add name="EisInventoryContext" connectionString="metadata=res://*/Database.EisInventory.csdl|res://*/Database.EisInventory.ssdl|res://*/Database.EisInventory.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=eshopo-database.cq4fzntkpwoy.us-west-2.rds.amazonaws.com;port=3306;user id=kigwa;password=who15are15you15;database=eshopo_inventory_dev&quot;"  xdt:Transform="Replace" xdt:Locator="Match(name)" />-->
  <appSettings>
    <add key="AppName" value="DEV - EIS Orders Service" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MarketplaceMode" value="TEST" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ExportedFilesRoot" value="C:\logs\exportedfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MarketplaceFeedRoot" value="C:\\Logs\\Dev\\ExportedFiles\\Feeds" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServiceLogPath" value="C:\\logs\\dev\\service_logs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImagesRoot" value="C:\\inetpub\\wwwroot\\EIS Inventory - DEV\\Images" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ImagesUrlRoot"  value="http://staging.e-shopo.com/Images" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>