<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="InventoryConnection" connectionString="server=eshopo-database.cq4fzntkpwoy.us-west-2.rds.amazonaws.com;port=3306;User Id=kigwa;password=who15are15you15;database=eshopo_inventory" providerName="MySql.Data.MySqlClient" />
    <add name="EisInventoryContext" connectionString="metadata=res://*/Database.EisInventory.csdl|res://*/Database.EisInventory.ssdl|res://*/Database.EisInventory.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=eshopo-database.cq4fzntkpwoy.us-west-2.rds.amazonaws.com;port=3306;user id=kigwa;password=who15are15you15;database=eshopo_inventory&quot;"  providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="ImagesRoot" value="C:\inetpub\wwwroot\EIS Inventory\Images" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ImagesUrlRoot"  value="http://e-shopo.com/Images" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FilePath" value="C:\logs\supplier files" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="TransferPath" value="C:\logs\supplier files\uploaded" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ExtensionPath" value="C:\inetpub\wwwroot\EIS Inventory\Extensions\" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MarketplaceFeedRoot" value="C:\\Logs\\ExportedFiles\\Feeds" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SystemJobsRoot" value="C:\logs\systemjobs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ExportedFilesRoot" value="C:\logs\exportedfiles" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ServiceLogPath" value="C:\\logs\\service_logs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MarketplaceMode" value="LIVE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IsWriteToFile" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Shipping Service Settings-->
    <add key ="Endicia.Mode" value="LIVE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="Endicia.RequesterId" value="lxxx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="Endicia.AccountId" value="2527126" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="Endicia.PassPhrase" value="Denden.Mushi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key ="FedExMode" value="TEST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- Amazon Product Info Provider-->
    <add key="AmazonMerchantId" value="A12HYFEDED6DEW" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AmazonMarketPlaceIds" value="ATVPDKIKX0DER" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AmazonAccessKeyId" value="AKIAJDQNAJIEJ2XZWVQA" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AmazonSecretKey" value="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" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!-- EMAIL SETTINGS -->
    <add key="SMTPServer" value="smtp.gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SMTPPort" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailServiceUser" value="eshoposervice@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailServicePass" value="eshoposervice123" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailServiceTo" value="mikepvcom@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="EmailServiceCC" value="rosal.alvincent@gmail.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <system.webServer>
    <handlers>
      <!-- To handle DOT "." in URL routing -->
      <add name="ApiURIs-ISAPI-Integrated-4.0"
                 path="/product/*"
                 verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS"
                 type="System.Web.Handlers.TransferRequestHandler"
                 preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
